In [2]:
import pandas as pd

df = pd.read_csv("weather_data.csv")
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,Precip
0,1/1/2016,38,23,52,30.03,10,8.0,8.0
1,1/2/2016,36,18,46,30.02,10,7.0,7.0
2,1/3/2016,40,21,47,29.86,10,8.0,8.0
3,1/4/2016,25,9,44,30.05,10,9.0,9.0
4,1/5/2016,20,-3,41,30.57,10,5.0,5.0
5,1/6/2016,33,4,35,30.50,10,4.0,4.0
6,1/7/2016,39,11,33,30.28,10,2.0,2.0
7,1/8/2016,39,29,64,30.16,10,4.0,4.0
8,1/9/2016,44,38,77,30.16,9,8.0,8.0
9,1/10/2016,50,46,71,29.59,4,NaN,NaN

In [3]:
df['Temperature'].max()

np.int64(50)

In [8]:
df['EST'][df['VisibilityMiles'] <= 9]

8     1/9/2016
9    1/10/2016
Name: EST, dtype: object